/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}

/* General Styling */

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.nav-bar {
    height: 13vh;
    background-color: #2C3E50;
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    align-items: center;
    padding: 0 12vw;
}

.links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.links > li {
    margin-right: 2vw;
}

.hero {
    background-color: #1ABC9C;
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero > div > img:first-child {
    width: 30%;
}

.hero > div > img:last-of-type {
    width: 4%;
}

.hero > div > h1 {
    font-size: 4rem;
    font-weight: bold;
}

.hero > div > h4 {
    font-size: 1.5rem;
    font-weight: bold;
}

.hero > div {
    height: 60vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: white;
}
